.subway{
    width: 90%;
    background-color: white;
    border: 10px solid  #FFC214;
}

.icone{
    width: 40rem; 
    height: auto;
}

.logo{
    width: 4rem;
    height: auto;
}


::placeholder{
    font-style: italic;
}

body{
    background-color:#0F9246 ;
    font-family: 'Poppins'; 
}

.inscrit{
    font-size: 0.8rem;
}

