.subway{
    width: 90%;
    background-color: white;
    border: 5px solid  #FFC214;
}

img{
    width: 25rem; 
    height: auto;
}

::placeholder{
    font-style: italic;
}

body{
    background-color:#0F9246 ;
    font-family: 'Poppins'; 
}

.inscrit{
    font-size: 0.8rem;
}

.red{
    background-color: pink;
}

.white{
    background-color: white;
}

